<table class="table">
    <thead>
        <tr class="text-center">
            <th>STT</th>
            <th>Name</th>
            <th>Price</th>
            <th>Sale</th>
            <th>Ảnh</th>
            <th>Chi tiết</th>
        </tr>
    </thead>
    <tbody *ngFor="let item of Products">
        <tr class="text-center">
            <td scope="row">{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.sale_price}}</td>
            <td><img src="{{item.img}}" alt="" width="100px"></td>
            <td><button class="btn btn-success" routerLink="/about/{{item.id}}">Xem thêm</button></td>
        </tr>
    </tbody>
</table>