<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="{{pro.img}}" alt="">
            <div class="card-body">
                <h4 class="card-title">{{pro.name}}</h4>
                <p class="card-text">{{pro.price}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, eum saepe numquam atque, earum accusamus,
        repellendus id unde aliquam magnam accusantium quia. Beatae illum totam, corrupti eos minus dolorem suscipit.
    </div>
</div>