<app-header></app-header>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3">
            <app-category></app-category>
        </div>
        <div class="col-lg-9">
            <router-outlet></router-outlet>
        </div>
    </div>
    <footer class="bg-dark text-light py-3 mt-5">
        <div class="container">
            <h1>Footer Infomations</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat eius soluta deserunt quo id quasi
                enim fugit
                sed.
                Veniam, vero at. Repellat sunt tenetur laborum cum dolorum aliquam animi quos!</p>
        </div>
    </footer>
</div>